$black: #363636;
$blue: #3084fe;
$green: #00ca71;
$background-grey: #fcfcfc;
$grey: #a7a7a7;
$light-grey: rgb(248, 246, 246);
$light-black: #727272;
$orange: #f9730e;
$orange-dark: #f83600;
$orange-linear: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
$pink: #ff5253;
$red: #f42c4f;
$white: #ffffff;
$light: #bfc4c9;
$light-blue: #f7f7fc;

$note-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2),
  0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);

$textarea-shadow: 0 0 8px 0px rgb(0 0 0 / 17%) inset;
$scroll: #dbd9d9;
