@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

$header-font: 700 2.3rem "Montserrat", sans-serif;
$small-header-font: 700 1.3rem "Montserrat", sans-serif;
$font-xxxl: 700 1.7rem "Montserrat", sans-serif;
$font-xxl: 700 1.57rem "Montserrat", sans-serif;
$font-xl: 600 1rem "Montserrat", sans-serif;

$font-xs: 600 0.85rem "Montserrat", sans-serif;
$font-xxs: 400 0.85rem "Montserrat", sans-serif;
$terms-font: 600 1.14rem "Montserrat", sans-serif;
$terms-font-mobile: 400 1.07rem "Montserrat", sans-serif;
$breadcrumbs-small: 500 0.85rem "Montserrat", sans-serif;

$font-xl: 400 1.2rem "Montserrat", sans-serif;
$font-xl-b: 600 1.2rem "Montserrat", sans-serif;
$font-l: 400 1rem "Montserrat", sans-serif;
$font-l-b: 600 1rem "Montserrat", sans-serif;
$font-m: 400 0.875rem "Montserrat", sans-serif;
$font-m-b: 600 0.875rem "Montserrat", sans-serif;
$font-s: 400 0.75rem "Montserrat", sans-serif;
$font-s-b: 600 0.75rem "Montserrat", sans-serif;
$font-xs: 400 0.625rem "Montserrat", sans-serif;
$font-xs-b: 600 0.625rem "Montserrat", sans-serif;
