@import "../../scss/vars/variables.scss";
.footer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 1rem;
  border-top: 1px solid $light;
  p {
    font: $font-l;
    color: $black;
  }
  div {
    display: flex;
    gap: 1.7rem;
  }
}

@media (max-width: 576px) {
  .footer {
    height: 7.2rem;
    width: 90%;
    flex-direction: column;
    align-items: center;

    p {
      max-width: 16rem;
      text-align: center;
    }
  }
}
